.links {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;

  
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 4rem;
}

h2 {
  display: flex;
  justify-content: center;
}

.card-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  margin: 5% 20%;
}

.card-preview {
  flex: 1 1 calc(33.333% - 20px); 
  max-width: calc(33.333% - 20px); 
  box-sizing: border-box; 
}